@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

* {
    /* background-image: url("./assets/planawaybg.png"); */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
  }

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: rgb(92, 83, 83);
    text-align: center;
    padding: 10px o;
}