body {
    background-image: url("https://i.imgur.com/E7qjVG8.jpg");
    background-color: #bedce3;
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: cover;
    justify-content: center;
}

title {
    font-size: 32px;
}
footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: rgb(92, 83, 83);
    text-align: center;
    padding: 10px o;
}