* {
    background-image: url("./assets/planawaybg.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: Lato;
  }

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: rgb(92, 83, 83);
    text-align: center;
    padding: 10px o;
}